body{
  background: url(/src/images/cookies.jpg);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: right;
}

li a {
  display: block;
  color: lightgrey;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  grid-template-columns: 1fr;
  text-align: center;
  margin-top: 3em;
  padding: 1em;
}

section {
  padding: 1em;
  margin-top: 10px;
  border: 2px solid black;
  background-color: blanchedalmond;
}
button {
  background-color: lightgrey;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}